<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <h1>Orders</h1>

 
  
  <table cellspacing="1" cellpadding="5" border="1">
    <tr>
    
    <th>Name</th>
    <th>Food</th>
    <th>Message</th>
    <th>Status</th>
    <th>Action</th>
  </tr>


  <% data.forEach(function(order){ %>
     <tr>
      
       <td><%= order.name %></td>
       <td><%= order.food %></td>
       <td><%= order.message %></td>
       <td><%= order.status %></td>
       <td><a href="updateorder/<%= order.doc_id %>">Edit</a> | Delete</td>
     </tr>
  <% }); %>

	</table>

 
 

  </body>

</html>